<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= image_tag("logol.jpg", :alt => "Brand", :width => "70", :height => "70") %>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <h1>Harbor</h1>
      </div>
    </div>
    </nav>
    <div class = "row">
      <div class = "col-md-2">
      </div>
      <div class = "col-md-10">
        <h3>Welcome to Harbor, <%= @username %></h3>
        <h4>
          You have successfully signed up to Harbor,
          your username is: <%= @username %>.<br>
        </h4>
        <h4>Thanks for joining and have a great day!</h4>
        <footer><%= link_to "Go Back", root_url %></footer>
      </div>
    </div>
  </body>
</html>