<body>
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <%= image_tag("logol.jpg", :alt => "Brand", :width => "70", :height => "70") %>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <h1>Harbor</h1>
      </div>
    </div>
  </nav>
	<div class="container">
  		
  		<blockquote>
   		<p>Bodies are complicated – especially the young female body. As women and trans men start to mature physically and sexually they will run into questions concerning their health such as, “What are my birth control options?” or “How can I receive confidential medical help?” Often, these questions will arise before a young woman feels comfortable consulting family or friends. </p>
	
		<p>We want to connect young women to people who they can rely on to answer their questions. Our design is a messaging app that will pair young women with mentors to answer their health related questions. We believe that young women will feel comfortable asking questions anonymously and that mentors will provide access to a trusted, knowledgeable source of information to women who are in need of one.</p>
    	<footer><%= link_to "Go Back", root_url %></footer>
  		</blockquote>
	</div>
	

</body>